In [1]:
# just a place to practice and test code

import pandas as pd
import numpy as np
import regex
import time
import os
import seaborn as sns
%pwd

'/home/neilfa/rpscrape/data_cleaning'

In [57]:
df = pd.DataFrame({'Name':list('aabbef'),
                   'A':['100/10','130/10F','EvensF','1/5F','5/1','44/1'],
                   'B':['abs (ire)','cvs df (ire)','Vbs gh gfd (fr)','tb (gb)','DFs (ire)','TGH (gb)'],
                   'C':['1:3.5','60:3.4','5:2.20','7:3.30','1:20','3:40']}, columns = ['Name','A','B','C'])

print (df)

  Name        A                B       C
0    a   100/10        abs (ire)   1:3.5
1    a  130/10F     cvs df (ire)  60:3.4
2    b   EvensF  Vbs gh gfd (fr)  5:2.20
3    b     1/5F          tb (gb)  7:3.30
4    e      5/1        DFs (ire)    1:20
5    f     44/1         TGH (gb)    3:40

In [33]:
grouped = df.groupby(['Name']).count()
#ls = list(grouped)
#l
a = df.loc[:,'A']
a = a.str.replace("Evens","1/1")
a = a.str.extract(r'(\d+).(\d+)(.?)')
a
a.iloc[:,0] = a.iloc[:,0].astype(int)
a.iloc[:,1] = a.iloc[:,1].astype(int)
b = (a.iloc[:,0]/a.iloc[:,1])+1
#a.iloc[:,2]
#b = pd.concat([b,a.iloc[:,2]],axis=1)
#.iloc[:,1]=b.iloc[:,1].str.replace(r"\s\w\s","F")
b.iloc[:,1]=b.iloc[:,1].str.replace('',"N")
b.iloc[:,1] = b.iloc[:,1].str.contains(r"\S")

IndexingError: Too many indexers

In [55]:
a = df.loc[:,'B']
a
c = a.str.extract(r"(.+)\s\((\w+)\)")
c['fav']=c.iloc[:,1]
c

            0    1  fav
0         abs  ire  ire
1      cvs df  ire  ire
2  Vbs gh gfd   fr   fr
3          tb   gb   gb
4         DFs  ire  ire
5         TGH   gb   gb

In [63]:
a = df['C']
c = a.str.extract(r"(\d+):(.+)")
c[0] = c[0].astype(float)
c[1] = c[1].astype(float)
df['C'] = (c[0]*60)+c[1]

  Name        A                B       C
0    a   100/10        abs (ire)    63.5
1    a  130/10F     cvs df (ire)  3603.4
2    b   EvensF  Vbs gh gfd (fr)   302.2
3    b     1/5F          tb (gb)   423.3
4    e      5/1        DFs (ire)    80.0
5    f     44/1         TGH (gb)   220.0