In [1]:
# just a place to practice and test code

import pandas as pd
import numpy as np
import regex
import time
import os
import seaborn as sns
import itertools
%pwd

'/home/neilfa/jupyter_data_cleaning'

In [2]:
df = pd.DataFrame({'Name':list('aabbef'),
                   'A':['100/10','130/10F','EvensF','1/5F','5/1','44/1'],
                   'B':['abs (ire)','cvs df (ire)','Vbs gh gfd (fr)','tb (gb)','DFs (ire)','TGH (gb)'],
                   'C':['145','132','140','113','112','120'],
                   'D':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]})

In [3]:
dic = {'a':[1, 8, 3, 1],'b':['5', '2', '9', '8'],'c':['5','29','7','10','3','10','8','20','3','14','14','9','2','2']}


def ema(s, n):
    """
    returns an n period exponential moving average for
    the time series s

    s is a list ordered from oldest (index 0) to most
    recent (index -1)
    n is an integer

    returns a numeric array of the exponential
    moving average
    """
    s = np.array(s)
    ema = []
    j = 1

    #get n sma first and calculate the next n period ema
    sma = sum(s[:n]) / n
    multiplier = 2 / float(1 + n)
    ema.append(sma)

    #EMA(current) = ( (Price(current) - EMA(prev) ) x Multiplier) + EMA(prev)
    ema.append(( (s[n] - sma) * multiplier) + sma)

    #now calculate the rest of the values
    for i in s[n+1:]:
        tmp = ( (i - ema[j]) * multiplier) + ema[j]
        j = j + 1
        ema.append(tmp)
    return ema

print(ema(dic['a'],3))

[4.0, 2.5]

In [4]:
df.head()
df.loc[[1,3],'D'] = [1,2]
df.head()

  Name        A                B    C    D
0    a   100/10        abs (ire)  145  NaN
1    a  130/10F     cvs df (ire)  132  1.0
2    b   EvensF  Vbs gh gfd (fr)  140  NaN
3    b     1/5F          tb (gb)  113  2.0
4    e      5/1        DFs (ire)  112  NaN

In [5]:
df.columns.tolist().remove('C')

In [6]:
dic = {'a':['1', '8', '3', '1', 'DSQ'],'b':['5', '2', '9', '8'],'c':['5','29','7','10','3','10','8','20','3','14','14','9','2','2']}

place = ['2','3']
c={}
e={}
for key in dic:
    value = dic[key]
    cnt = 0
    b =[]
    d=[]
    cnt2=0
    for i in range(len(value)):
        if value[i] == '1':
            cnt += 1
            cnt2 += 1
            b.append(cnt/(i+1))
            d.append(cnt2/(i+1))
        elif value[i] in place:
            cnt2 += 1
            d.append(cnt2/(i+1))
        else:
            b.append(cnt/(i+1))
            d.append(cnt2/(i+1))
    c[key]=b
    e[key]=d

e

{'a': [1.0, 0.5, 0.6666666666666666, 0.75, 0.6],
 'b': [0.0, 0.5, 0.3333333333333333, 0.25],
 'c': [0.0,
  0.0,
  0.0,
  0.0,
  0.2,
  0.16666666666666666,
  0.14285714285714285,
  0.125,
  0.2222222222222222,
  0.2,
  0.18181818181818182,
  0.16666666666666666,
  0.23076923076923078,
  0.2857142857142857]}

In [7]:
df['C']=pd.to_numeric(df['C'])
mx = df['C'].max()
lmx = [[mx]*6]
lmx = lmx[0]
#lmx[0]-df['C']
ls = [True,False,True]
#if True in ls:

In [8]:
df.loc[0:2,'D'] = [123,134,140]
a = np.empty((1,3))
a[:]=np.nan
mn = df.loc[:,'D'].min()
mnl = [mn]*6

In [9]:
df.head
df.loc[:,'D']=df.loc[:,('C')]
pos = df.loc[:,('C')]
for i in range(len(pos)):
    try:
        int(pos[i])
    except:
        pos.iloc[i]=5
pd.to_numeric(df.loc[:,'C'])
df.head()

  Name        A                B    C    D
0    a   100/10        abs (ire)  145  145
1    a  130/10F     cvs df (ire)  132  132
2    b   EvensF  Vbs gh gfd (fr)  140  140
3    b     1/5F          tb (gb)  113  113
4    e      5/1        DFs (ire)  112  112

In [10]:
norm = []
for i in range(1,20):
    norm.append((1/i)*10)
    
int(round(norm))

TypeError: type list doesn't define __round__ method

In [ ]:
value= ['2','1','3']
pl = []
cnt = 0
ln = len(value)
#value = value.astype(np.float)
for i in range(ln):
    if value[i] == '1':
        cnt=+1
        pl.append(cnt/(i+1))
    else:
        pl.append(cnt/(i+1))
pl

In [ ]:
grouped = df.groupby(['Name']).count()
#ls = list(grouped)
#l
a = df.loc[:,'A']
a = a.str.replace("Evens","1/1")
a = a.str.extract(r'(\d+).(\d+)(.?)')
a
a.iloc[:,0] = a.iloc[:,0].astype(int)
a.iloc[:,1] = a.iloc[:,1].astype(int)
b = (a.iloc[:,0]/a.iloc[:,1])+1
#a.iloc[:,2]
#b = pd.concat([b,a.iloc[:,2]],axis=1)
#.iloc[:,1]=b.iloc[:,1].str.replace(r"\s\w\s","F")
#b.iloc[:,1]=b.iloc[:,1].str.replace('',"N")
b.iloc[:,1] = b.iloc[:,1].str.contains(r"\S")

In [ ]:
a = df.loc[:,'B']
a
c = a.str.extract(r"(.+)\s\((\w+)\)")
c['fav']=c.iloc[:,1]
c

In [ ]:
a = df['C']
c = a.str.extract(r"(\d+):(.+)")
c[0] = c[0].astype(float)
c[1] = c[1].astype(float)
df['C'] = (c[0]*60)+c[1]

In [ ]:
def append_value(dict_obj, key, value):
    # Check if key exist in dict or not
    if key in dict_obj:
        # Key exist in dict.
        # Check if type of value of key is list or not
        if not isinstance(dict_obj[key], list):
            # If type is not list then make it list
            dict_obj[key] = [dict_obj[key]]
        # Append the value in list
        dict_obj[key].append(value)
    else:
        # As key is not in dict,
        # so, add key-value pair
        dict_obj[key] = value

dicG = df.groupby('Name')
dic = dicG.groups
dicG.get_group('a').loc[0,'UID'] = '3'
df.loc[0,'UID'] = '3'
df
#sdic = dic[1:5]
#type(dic.keys())
#dic[a].append([29,29,29])
#append_value(dic,'a',sorted(['29']*4))
#dic

In [ ]:
l = []
a = ['1','2','3']
b = [1,2,3]
for i in range(len(a)):
    lc = [a[i]]*b[i]
    for j in lc:
        l.append(j)
l

In [14]:
a = [1.4,4.55]
round(a)

TypeError: type list doesn't define __round__ method