In [2]:
# just a place to practice and test code

import pandas as pd
import numpy as np
import regex
import time
import os
import seaborn as sns
import itertools
%pwd

'/home/neilfa/jupyter_data_cleaning'

In [41]:
df = pd.DataFrame({'Name':list('aabbef'),
                   'A':['100/10','130/10F','EvensF','1/5F','5/1','44/1'],
                   'B':['abs (ire)','cvs df (ire)','Vbs gh gfd (fr)','tb (gb)','DFs (ire)','TGH (gb)'],
                   'C':['1','2','PU','2','F','3']})
df['UID'] = np.nan
print (df)

  Name        A                B   C  UID
0    a   100/10        abs (ire)   1  NaN
1    a  130/10F     cvs df (ire)   2  NaN
2    b   EvensF  Vbs gh gfd (fr)  PU  NaN
3    b     1/5F          tb (gb)   2  NaN
4    e      5/1        DFs (ire)   F  NaN
5    f     44/1         TGH (gb)   3  NaN

In [42]:
df.head
df.loc[:,'D']=df.loc[:,('C')]
pos = df.loc[:,('C')]
for i in range(len(pos)):
    try:
        int(pos[i])
    except:
        pos.iloc[i]=5
pd.to_numeric(df.loc[:,'C'])
df.head()

/usr/lib/python3/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

  Name        A                B  C  UID   D
0    a   100/10        abs (ire)  1  NaN   1
1    a  130/10F     cvs df (ire)  2  NaN   2
2    b   EvensF  Vbs gh gfd (fr)  5  NaN  PU
3    b     1/5F          tb (gb)  2  NaN   2
4    e      5/1        DFs (ire)  5  NaN   F

In [46]:
norm = []
for i in range(1,20):
    norm.append((1/i)*10)
    
int(round(norm))

TypeError: type list doesn't define __round__ method

In [4]:
grouped = df.groupby(['Name']).count()
#ls = list(grouped)
#l
a = df.loc[:,'A']
a = a.str.replace("Evens","1/1")
a = a.str.extract(r'(\d+).(\d+)(.?)')
a
a.iloc[:,0] = a.iloc[:,0].astype(int)
a.iloc[:,1] = a.iloc[:,1].astype(int)
b = (a.iloc[:,0]/a.iloc[:,1])+1
#a.iloc[:,2]
#b = pd.concat([b,a.iloc[:,2]],axis=1)
#.iloc[:,1]=b.iloc[:,1].str.replace(r"\s\w\s","F")
#b.iloc[:,1]=b.iloc[:,1].str.replace('',"N")
b.iloc[:,1] = b.iloc[:,1].str.contains(r"\S")

IndexingError: Too many indexers

In [5]:
a = df.loc[:,'B']
a
c = a.str.extract(r"(.+)\s\((\w+)\)")
c['fav']=c.iloc[:,1]
c

            0    1  fav
0         abs  ire  ire
1      cvs df  ire  ire
2  Vbs gh gfd   fr   fr
3          tb   gb   gb
4         DFs  ire  ire
5         TGH   gb   gb

In [6]:
a = df['C']
c = a.str.extract(r"(\d+):(.+)")
c[0] = c[0].astype(float)
c[1] = c[1].astype(float)
df['C'] = (c[0]*60)+c[1]

In [7]:
def append_value(dict_obj, key, value):
    # Check if key exist in dict or not
    if key in dict_obj:
        # Key exist in dict.
        # Check if type of value of key is list or not
        if not isinstance(dict_obj[key], list):
            # If type is not list then make it list
            dict_obj[key] = [dict_obj[key]]
        # Append the value in list
        dict_obj[key].append(value)
    else:
        # As key is not in dict,
        # so, add key-value pair
        dict_obj[key] = value

dicG = df.groupby('Name')
dic = dicG.groups
dicG.get_group('a').loc[0,'UID'] = '3'
df.loc[0,'UID'] = '3'
df
#sdic = dic[1:5]
#type(dic.keys())
#dic[a].append([29,29,29])
#append_value(dic,'a',sorted(['29']*4))
#dic

/usr/lib/python3/dist-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

  Name        A                B   C  UID
0    a   100/10        abs (ire) NaN    3
1    a  130/10F     cvs df (ire) NaN  NaN
2    b   EvensF  Vbs gh gfd (fr) NaN  NaN
3    b     1/5F          tb (gb) NaN  NaN
4    e      5/1        DFs (ire) NaN  NaN
5    f     44/1         TGH (gb) NaN  NaN

In [26]:
l = []
a = ['1','2','3']
b = [1,2,3]
for i in range(len(a)):
    lc = [a[i]]*b[i]
    for j in lc:
        l.append(j)
l

['1', '2', '2', '3', '3', '3']

In [8]:
df.head

<bound method NDFrame.head of   Name        A                B   C  UID
0    a   100/10        abs (ire) NaN    3
1    a  130/10F     cvs df (ire) NaN  NaN
2    b   EvensF  Vbs gh gfd (fr) NaN  NaN
3    b     1/5F          tb (gb) NaN  NaN
4    e      5/1        DFs (ire) NaN  NaN
5    f     44/1         TGH (gb) NaN  NaN>